* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c3e50;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    overflow-y: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 20px;
    background-color: #2c3e50;
    color: #fff;
    position: relative;
}

header img {
    border-radius: 50%;
    width: 140px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.contact-info {
    text-align: left;
    font-size: 1em;
    margin-right: 20px;
}

.contact-info p {
    margin: 0;
}

.title {
    position: absolute;
    left: calc(50% + 10px);
    transform: translateX(-50%);
    top: 15px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
}

nav {
    position: sticky;
    top: 0;
    height: auto;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color: #d3d3d3;  /* Fond gris pour les onglets de navigation */
    padding: 10px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

nav a {
    color: #2c3e50;  /* Couleur du texte pour les liens de navigation */
    text-decoration: none;
    margin: 0 10px;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin-top: 0;
}

.section {
    margin: 0;
    padding: 0;
    width: 100%;  /* Assurez-vous que les sections sont de la même largeur */
}

.section-header {
    width: 100%;
    margin: 0;
    display: block;
    background-color: #2c3e50;  /* Fond bleu pour les en-têtes de section */
    color: #fff;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.section-content {
    display: none; /* Masquer par défaut */
    overflow-y: auto;
    max-height: 80vh;
    transition: max-height 0.5s ease-out;
    padding: 20px;
    border: 2px solid #2c3e50;
    background-color: #fff;  /* Fond blanc pour le contenu */
    margin: 0;
    border-radius: 0 0 5px 5px;  /* Coins arrondis en bas seulement */
}

/* Classe pour afficher le contenu des sections */
.section-content.open {
    max-height: 1000px;
    display: block; /* Afficher lorsqu'elle est ajoutée via JavaScript */
}

.section-content h3 {
    margin: 0;
    padding: 0;
}

.section-content p {
    margin: 10px 0;
}

.carousel {
    overflow: hidden;
    width: 100%;
    height: 200px;
    margin: 3px;
    padding: 0;
    position: relative;
}

.carousel-track {
    flex-shrink: 0;
    height: 200px;
    display: flex;
    width: calc(300px * 24);
    animation: scroll 240s linear infinite;
    margin: 0;
    padding: 0;
}

.carousel-track img {
    flex-shrink: 0;
    width: 300px;
    height: 200px;
    object-fit: cover;
}

@media (max-width: 768px) {
    header, nav, .section {
        flex-direction: column;
    }

    .carousel img {
        width: 100px;
        height: auto;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-7200px);
    }
}

h1 {
    margin: 0;
}

.content {
    padding-top: 0;
    margin-top: 0;
}

section {
    padding: 0;
    margin: 0;
    background-color: transparent; /* Fond transparent pour les sections */
    border-radius: 0;
    transition: background-color 0.3s ease-in-out;
}

.anchor {
    display: block;
    height: 120px;
    margin-top: -120px;
    visibility: hidden;
}

/* Sections spécifiques */
#experience, #formation, #competence, #diplome, #projects {
    margin: 0;
    width: 100%;  /* Assurez-vous que les sections sont de la même largeur */
    border: none;  /* Enlever la bordure */
    box-shadow: none;  /* Enlever l'ombre */
}

#experience h2, #formation h2, #competence h2, #diplome h2, #projects h2 {
    color: #2c3e50;
    font-family: 'Georgia', serif;
    font-size: 1.8em;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.job, .education-item {
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e2e2e2;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 3px;
}

.certificate {
    margin-top: 10px;
}

.certificate img {
    width: 150px;
    height: auto;
    display: block;
    margin: 5px 0;
}

p {
    line-height: 1.0;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    margin: 0 0 50px 0;
    padding: 10px;
    border: none;
    width: auto;
    text-align: left;
    border-radius: 5px;
    font-weight: bold;
    color: #003366;
}

.blinking-text {
    background-color: yellow;
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    position: relative;
    z-index: 9999;
}

.highlighted-message {
    color: red;
}

/* Animation clignotante */
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blinking-text {
    background-color: yellow; /* Fond jaune */
    color: red; /* Texte en rouge */
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    position: relative;
    z-index: 9999;
    animation: blinker 1s linear infinite;
}


/* Chatbox */
.chatbox {
    display: none; /* Cacher la chatbox par défaut */
    position: fixed;
    bottom: 0;
    right: 15px;
    width: 500px; /* Élargir la largeur de la chatbox */
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.chatbox-header {
    background: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chatbox-body {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.chatbox-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chatbox-footer input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chatbox-footer button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.message {
    margin: 10px 0;
}

.bot-message {
    background: #e2e2e2;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.user-message {
    background: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
}

@media (max-width: 1200px) {
    .section-header {
        font-size: 20px;  /* Ajuster la taille de la police pour les écrans plus petits */
    }
    .section-content {
        padding: 15px;  /* Ajuster le padding pour les écrans plus petits */
    }
}

@media (max-width: 768px) {
    nav {
        display: flex;  /* Utiliser flexbox pour la disposition */
        flex-direction: row;  /* Disposer les onglets en ligne */
        align-items: center;  /* Aligner les onglets au centre verticalement */
        justify-content: space-around;  /* Espacer les onglets de manière égale */
        padding: 5px;  /* Réduire le padding pour les écrans mobiles */
        height: 40px;  /* Réduire la hauteur du bloc de navigation */
    }
    nav a {
        padding: 5px 10px;  /* Ajuster le padding pour les écrans mobiles */
        font-size: 14px;  /* Ajuster la taille de la police pour les écrans mobiles */
        display: inline-block;  /* Afficher les onglets en ligne */
    }
    .section-header {
        font-size: 18px;  /* Ajuster la taille de la police pour les écrans mobiles */
        padding: 8px;  /* Ajuster le padding pour les écrans mobiles */
    }
    .section-content {
        padding: 10px;  /* Ajuster le padding pour les écrans mobiles */
    }
    .chatbox {
        width: 90%;  /* Ajuster la largeur de la chatbox pour les écrans mobiles */
        right: 5%;  /* Ajuster la position de la chatbox pour les écrans mobiles */
    }
    .chatbox-header, .chatbox-footer {
        padding: 8px;  /* Ajuster le padding pour la chatbox sur les écrans mobiles */
    }
    .chatbox-footer input[type="text"] {
        padding: 8px;  /* Ajuster le padding pour les entrées de texte sur les écrans mobiles */
    }
    header {
        display: flex;  /* Utiliser flexbox pour la disposition */
        flex-direction: column;  /* Disposer les éléments de l'en-tête en colonne */
        align-items: center;  /* Centrer les éléments */
        padding: 20px;  /* Ajouter du padding pour augmenter la hauteur de la bannière */
        text-align: center;  /* Centrer le texte */
    }
    .title {
        font-size: 1.2em;  /* Ajuster la taille de la police pour les écrans mobiles */
        margin-bottom: 10px;  /* Ajouter une marge inférieure */
        width: 100%;  /* Faire en sorte que le titre occupe toute la largeur */
        text-align: center;  /* Centrer le texte */
    }
    .contact-info {
        text-align: left;  /* Aligner le texte à gauche pour les infos de contact */
        font-size: 0.9em;  /* Ajuster la taille de la police pour les écrans mobiles */
    }
    header img {
        width: 50px;  /* Réduire la taille de la photo de profil */
        margin-top: 10px;  /* Ajouter une marge au-dessus de l'image */
        align-self: flex-end;  /* Positionner l'image à droite */
    }
}



